.container{
    align-items: center;
    /* background-color: #0088cc; */
    padding-top: 50px;
} 
#show-contact {
    display: none;
  }
  
  .contact {
    cursor: pointer;
    color: rgb(3, 99, 99);
  }
  
  .contact:hover {
    text-decoration: underline;
  }  