.container{
    align-items: center;
    background-color: #0088cc;
    padding-top: 50px;
} 
#show-contact {
    display: none;
  }
  
  .contact {
    cursor: pointer;
    color: #0088cc;
  }
  
  .contact:hover {
    text-decoration: underline;
  }  